<%= form_for @article, html: { class: 'form-horizontal' } do |form| %>
	
	<!-- Article title -->
	<div class="form-group">
	  <%= form.label :title, class: 'col-sm-3 control-label' %>
	  <div class="col-sm-9">
		  <%= form.text_field :title, required: true, class: 'form-control' %>
	  </div>
	</div>

	<!-- Article content -->
	<div class="form-group">
	  <%= form.label :content, class: 'col-sm-3 control-label' %>
	  <div class="col-sm-9">
		  <%= form.text_area :content, required: true, class: 'form-control' %>
	  </div>
	</div>

	<!-- Submit button to create article -->
  <div class="form-group text-center">
      <%= form.submit 'Create article', class: 'btn btn-default' %>
  </div>

<% end %>