<a name="topofpage"></a>
<div class="article">

	<div class="article-title h1"><%= @article.title %></div>

	<% if @article.url %>
		<div class="article-image"><%= image_tag(@article.image, width: '500') %></div>
		<%= link_to @article.url, target: "_blank", class: 'btn btn-default' do %>
			View article from original source
		<% end %>
	<% end %>

	<% if signed_in? && current_user.admin? %>
    <% unless @article.url %>
      <%= link_to 'Edit Article', edit_article_path(@article) %>
    <% end %>

		<%= link_to 'Delete Article', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>

	<div class="article-social">
		<%= link_to "https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=#{@article.url}&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer", target: "_blank", class: "btn btn-social-icon btn-facebook" do %>
	    <span class="fa fa-facebook"></span>
		<% end %>

		<%= link_to "http://twitter.com/home?status=#{@article.title} #{@article.url}", target: "_blank", class: "btn btn-social-icon btn-twitter" do %>
			<span class="fa fa-twitter"></span>
		<% end %>
	</div>

	<div class="article-content"><%= simple_format(@article.content) %></div>
</div>

<div class="comment-container">
	<%= render @article.comments %>
</div>

<div class="new_comment_link">
	<% message = "Leave a Comment and Join the Discussion" %>
	<% if signed_in? %>
		<%= link_to message, new_article_comment_path(@article), id: "new_comment_link", remote:true %>
	<% else %>
		<%= link_to message, '/auth/steam' %>
	<% end %>
</div>

<div class="topofpage">
	<a href="#topofpage"><span class="fa fa-arrow-up"></span> Top of page</a>
</div>