<section id="features">
<div class="section-heading">
          <h2>Learn to play the smart way</h2>

          <hr>

        </div>
<div id="feature-div">

  <div class="feature-card">
      <%= image_tag "achievement-feature.png" %>
      <div class="content">
        <div>
          <p class="content-header">Achievements</p>
      
    </div>
          <div>
            <p class="content-description">Earn achievements for gaming the smart way.</p>
          </div>
    </div>
  </div>
  <div class="feature-card">
      <%= image_tag "article-feature.png" %>
      <div class="content">
        <div>
          <p class="content-header">Articles</p>
      
    </div>
          <div>
            <p class="content-description">Read articles curated on our blog to stay motivated.</p>
          </div>
    </div>
  </div>
  <div class="feature-card">
      <%= image_tag "commendation-feature.png" %>
      <div class="content">
        <div>
          <p class="content-header">Commendations</p>
      
    </div>
          <div>
            <p class="content-description">Commend other players to let them know they were fun to play with.</p>
          </div>
    </div>
  </div>
  <div class="feature-card">
      <%= image_tag "graph-feature.png" %>
      <div class="content">
        <div>
          <p class="content-header">Statistics</p>
      
    </div>
          <div>
            <p class="content-description">See exactly how much time you spend gaming. At a glance see the trends of your gaming history.</p>
          </div>
    </div>
  </div>
  <div class="feature-card">
      <%= image_tag "top-5-feature.png" %>
      <div class="content">
        <div>
          <p class="content-header">Leaderboard</p>
      
    </div>
          <div>
            <p class="content-description">Compete with the world to be the smartest gamer. Who is the best at managing their gaming time. </p>
          </div>
    </div>
  </div>
  <div class="feature-card">
      <%= image_tag "followers-feature.png" %>
      <div class="content">
        <div>
          <p class="content-header">Followers</p>
      
    </div>
          <div>
            <p class="content-description">Follow your friends, and share how much time you spend playing games.</p>
          </div>
    </div>
  </div>
  <%= link_to 'Try it now!', '/auth/steam', class: "btn btn-outline btn-xl page-scroll", id:"feature-button" %>

</div>
</section>


