<div id="header" class="border">
  <div class="row">
    <div class="col-lg-3">
      <img src="/assets/placeholder.jpg" alt="Avatar" class="article-image-second-long">

  </div>
  </div>

</div>
<div id="body">
  <div id="left">
    <div id="button" class="border">
      <% if User.check_follower(params[:id], current_user.id) && params[:id].to_i != current_user.id %>
        <%= form_for :follower, url: followers_path, method: :post, :html => {:class => "inline"} do |f| %>
          <%= f.hidden_field :user_id, value: params[:id] %>
          <%= f.hidden_field :follower_id, value: current_user.id %>
          <%= f.button "Follow", class: "btn btn-primary"  %>
        <% end %>
      <% elsif params[:id].to_i != current_user.id %>
        <%= form_for :follower, url: followers_path, method: :post, :html => {:class => "inline"} do |f| %>
          <%= f.hidden_field :user_id, value: params[:id] %>
          <%= f.hidden_field :follower_id, value: current_user.id %>
          <%= f.button "Unfollow", class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <button type="button" class="btn btn-primary">Overall</button>
      <button type="button" class="btn btn-primary">Stats</button>
      <button type="button" class="btn btn-primary">History</button>
      <button type="button" class="btn btn-primary">Overall</button>
    </div>
    <div id="content" class="border"></div>
  </div>
  <div id="right">
    <div id="about_me" class="border"></div>
    <div id="my_games" class="border"></div>
    <div id="my_achievements" class="border"></div>
  </div>
</div>

<%= link_to 'create achievements', new_user_achievement_path %>
<p>List Of Achievements!</p>
  <% @achievement.each do |list| %>
    <p><%= list.image %></p>
    <p><%= list.name %></p>
    <p><%= list.description %></p>
  <% end %>
