
<div id="header" class="border border background-color-div">
  <div class ="row">
    <div class="col-lg-6">
       <div class="row" id="user-profile">
        <div class="col-sm-3">
          <%= image_tag @user.avatar_url, class:"steam-avatar"%>
        </div>

          <div class="col-sm-3">
          <%= @user.name%><br>
          <%= @user.nickname %><br>
          <%= @user.email %>   
          <!-- Follow button--> 
         <% if User.check_follower(params[:id], @user.id) && params[:id].to_i != @user.id %>
        <%= form_for :follower, url: followers_path, method: :post, :html => {:class => "inline"} do |f| %>
          <%= f.hidden_field :user_id, value: params[:id] %>
          <%= f.hidden_field :follower_id, value: @user.id %>
          <%= f.button "Follow", class: "btn btn-primary"  %>
        <% end %>
      <% elsif params[:id].to_i != @user.id %>
        <%= form_for :follower, url: followers_path, method: :post, :html => {:class => "inline"} do |f| %>
          <%= f.hidden_field :user_id, value: params[:id] %>
          <%= f.hidden_field :follower_id, value: @user.id %>
          <%= f.button "Unfollow", class: "btn btn-primary" %>
        <% end %>
      <% end %>
         <!-- Follow button end -->
          </div>
        </div>
        </div>
    <div class="col-lg-6">
      <div class="row" id="skill-bar">
        <div class="container-fluid">
        <!-- Skill Bars -->
            <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Playtime today <i class="val">100%</i></span>
                </div>
            </div>
                
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >
                    <span class="skill">Playtime this week<i class="val">90%</i></span>
                </div>
            </div>
            
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Playtime this month<i class="val">75%</i></span>
                </div>
            </div>  
            
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Test<i class="val">55%</i></span>
                </div>
            </div>  
          </div>
        <!-- Skill Bars end -->
    </div>
    </div>
    </div>
 
</div>
  <div id="col-lg-6">
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#overall">Overall</a></li>
      <li><a data-toggle="pill" href="#stats">Stats</a></li>
      <li><a data-toggle="pill" href="#history">History</a></li>
      <li><a data-toggle="pill" href="#settings">Settings</a></li>
      <li><a data-toggle="pill" href="#about_me">About Me</a></li>
      <li><a data-toggle="pill" href="#my_games">My Games</a></li>
      <li><a data-toggle="pill" href="#my_achievements">Achievements</a></li>
    </ul>

    <div class="tab-content">
      <div id="overall" class="tab-pane fade in active background-color-div">
        <h3>Overall</h3>
          <%= render partial: 'users/overall'%>
      </div>
      <div id="stats" class="tab-pane fade background-color-div">
        <h3>Stats</h3>
        <p>Stat content</p>
      </div>
      <div id="history" class="tab-pane fade background-color-div">
        <h3>History</h3>
        <p>history content</p>
      </div>
      <div id="settings" class="tab-pane fade background-color-div">
        <h3>Settings</h3>
        <%= render partial: 'users/form' %>
      </div>
      <div id="about_me" class="tab-pane fade background-color-div">
        <h3>About me</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="my_games" class="tab-pane fade background-color-div">
        <h3>My Games</h3>
      <ul>game1</ul>
      <ul>game2</ul>
      <ul>game3</ul>
      </div>
      <div id="my_achievements" class="tab-pane fade background-color-div">
        <h3>Achievements</h3>
        <div class="text-left">
        <% achievements = @user.achievements.order(status: :desc) %>      
        <% achievements.each do |achievement| %>
          <div class="<%= 'achieved' if achievement.status %> achievement-item">
            <span class="achievement-image pull-left">
              <%= image_tag(achievement.badge.image, width: '50', height: '50') %>
            </span>
            <span class="achievement-title">
              <%= achievement.badge.name %>
            </span>
            <br>
            <span class="achievement-description">
              <%= achievement.badge.description %>
            </span>
          </div>
        <% end %>
      </div>
      </div>
    </div>

  </div>
  



<script>
   $(document).ready(function() {
      $('.progress .progress-bar').css("width",
                function() {
                    return $(this).attr("aria-valuenow") + "%";
                }
        )
    });
</script>

<h3>Commendations</h3>
  <% @commendations.each do |commendation| %>
    <div>
      <%= commendation.image %>
      <%= commendation.name %>
      <%= commendation.count %>
    </div>
    
    <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe, user_commendation_path(commendation.user_id, commendation.id), :method => :put  %>
  <% end %>

