<div id="header" class="border">
  <h1>Hello <%= @user.email %></h1>
</div>
<div id="body">
  <div id="left">
    <div id="button" class="border">
      <% if User.check_follower(params[:id], current_user.id) && params[:id].to_i != current_user.id %>
        <%= form_for :follower, url: followers_path, method: :post do |f| %>
          <%= f.hidden_field :user_id, value: params[:id] %>
          <%= f.hidden_field :follower_id, value: current_user.id %>
          <%= f.submit "Follow"  %>
        <% end %>
      <% elsif params[:id].to_i != current_user.id %>
        <%= form_for :follower, url: followers_path, method: :post do |f| %>
          <%= f.hidden_field :user_id, value: params[:id] %>
          <%= f.hidden_field :follower_id, value: current_user.id %>
          <%= f.submit "Unfollow"  %>
        <% end %>
      <% end %>
    </div>
    <div id="content" class="border"></div>
  </div>
  <div id="right">
    <div id="about_me" class="border"></div>
    <div id="my_games" class="border"></div>
    <div id="my_achievements" class="border"></div>
  </div>
</div>
