<nav class="navbar navbar-default navbar-static-top" id="navbar-main">
	<div class="container-nav">
		<div class="navbar-header ">

			<%= link_to "SmartGamer", root_path, class: "navbar-brand text-white", id: "logo-font" %>

      <!-- Searchbar -->
      <div id="custom-search-input">
        <%= form_tag search_path, method: 'get' do %>
          <div class="input-group">
            <!-- FIXME - change message from "Please fill out this field." -->
            <%= text_field_tag :search, params[:search], placeholder: 'Search', required: true, class: 'form-control' %>
            <!-- FIXME - Change Go! to search icon -->
            <span class="input-group-btn"><%= image_submit_tag("search", class: 'btn btn-default search') %></span>
          </div>
        <% end %>
      </div>

      <% if signed_in?  %>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav">
          <li><%= link_to image_tag('steam_01', class: "steam_log_in"), '/auth/steam' %></li>
        </ul>
      <% end %>
      <%= link_to "Create Articles", articles_path, class: "navbar-brand" if current_user && current_user.admin? %>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<% if signed_in? && current_user.nickname != nil %>
						<%= link_to current_user.nickname, current_user, role: "button"%>

						<% end %>

					</li>

				<li>
					<a href="#"><i class="fa fa-envelope-o"></i> Messages</a>
				</li>


			</ul>
		</div>
	</div>
</nav>
