<nav class=" navbar-fixed-top" id="navbar-main" >
 
	<div class="container">
    
		<div class="navbar-header ">
      <%= link_to (image_tag 'smart-logo.png', class: "smart-logo"), root_path, class: "navbar-logo" %>
			

      <!-- Searchbar -->
      <div id="custom-search-input">
        <%= form_tag search_path, method: 'get' do %>
          <div class="input-group">
            <!-- FIXME - change message from "Please fill out this field." -->
            <%= text_field_tag :search, params[:search], placeholder: 'Search', required: true, class: 'form-control' %>
            <!-- FIXME - Change Go! to search icon -->
            <span class="input-group-btn"><%= image_submit_tag("search", class: 'btn btn-default search') %></span>
          </div>
        <% end %>
      </div>



      <%= link_to "Create Articles", articles_path, class: "navbar-brand nav-text" if current_user && current_user.admin?%>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
        <% if signed_in?  %>
        
      <% else %>
        <ul class="nav navbar-nav pull-right">

          <li><%= link_to image_tag('steam_01', class: "steam_log_in"), '/auth/steam' %></li>
        </ul>
      <% end %>
			<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<% if signed_in? && current_user.nickname != nil %>
						<%= link_to current_user.nickname, current_user, role: "button", class:'nav-text'%>

						<% end %>

					</li>
        <!-- messages>
				<li>
					<a href="#"><i class="fa fa-envelope-o"></i> Messages</a>
				</li>
        <!-->

			</ul>
		</div>
  </div>
	
</nav>
