
<header>
	
			<h1 class="display-3 text-center">SmartGamer</h1>
	
</header>

<div class="container-quote">
	<blockquote class="blockquote">
		<p><%= @quote["quoteText"] %></p>
		<% quote_author = @quote["quoteAuthor"] %>
		<footer class="blockquote-footer"><%= quote_author.empty? ? "unknown" : quote_author %></footer>
	</blockquote>
</div>

	
	<div class="row ">
		<div class="col-lg-8 background-color-div ">
			
			<div class="row">
				<div class="col-lg-9 "><h3 class="h3-title">Articles</h3></div>
				<div class="col-lg-3">
					<%= link_to articles_path, class: 'btn btn-default' do %>
						View all articles
					<% end %>
				</div>
			</div>
			
			<div class="row">			
				<div class="col-lg-9  ">
					<% first_article = @articles_home.first %>
					<% if first_article %>
						<%= link_to article_path(first_article), target: "_self" do %>
							<% if first_article.image %>
								<%= image_tag first_article.image, title: first_article.title, class: "article-image-main" %>
							<% else %>
								<%#= image_tag '/assets/placeholder.jpg', class: "article-image-main" %>
								<div class="text-center article-text-main"><span><%= first_article.title %></span></div>
							<% end %>
						<% end %>
					<% end %>
			
					<% second_articles = @articles_home.slice(1..2) %>
					<% if second_articles %>
						<% second_articles.each do |article| %>
							<%= link_to article_path(article), target: "_self" do %>
								<% if article.image %>
									<%= image_tag article.image, title: article.title, class: "article-image-second-long" %>
								<% else %>
									<div class="text-center article-text-second-long"><span><%= article.title %></span></div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				</div>

				<div class="col-lg-3">
					<% third_articles = @articles_home.slice(3..6) %>
					<% if third_articles %>
						<% third_articles.each do |article| %>
							<%= link_to article_path(article), target: "_self" do %>
								<% if article.image %>
									<%= image_tag article.image, title: article.title, class: "article-image-second" %>
								<% else %>
									<div class="text-center article-text-second"><span><%= article.title %></span></div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	

	
		<!-- Activity feed -->
		<% if signed_in? %>
			<div class="col-sm-4">
				<h3 class="h3-title">Activity Feed</h3>
				<div class="activity-feed">
					<% @activities_home.each do |activity| %>
						<div class="feed-item">
							<div class="date"><%= activity.created_at.strftime("%a, %d %b %Y, %I:%M%p") %></div>
							<div class="text"><%= link_to user_path(activity.user), target: "_self" do %><%= activity.user.nickname %><% end %><%= activity.content %></div>
						</div>
					<% end %>
				</div>

			</div>
		<% end %>
	</div>

	<div class="container">
		<div class="row">
			<!-- Users table -->
			<div class="col-sm-6">
				<div class="row">

					<div class="col-sm-9"><h3 class="h3-title">Top 5 Gamers (by today playtime)</h3></div>
					<div class="col-sm-3">
						<%#= link_to articles_path, class: 'btn btn-default align-bottom' do %>
							View all users
							<%= link_to 'View all users', users_index_path %>
						<%# end %>
					</div>

					<div class="col-sm-3">

					</div>
				</div>	

				<table data-toggle="table" data-sort-name="today_playtime" data-sort-order="desc" class="home-user-table">
					<thead>
						<tr>
							<th data-sortable="true">User</th>
							<th data-field="today_playtime" data-sortable="true">Today Playtime</th>
							<th data-field="total_playtime" data-sortable="true">Total Playtime</th>
						</tr>
					</thead>

					<tbody>
						<% @users_top5.each do |user| %>
							<tr>
								<td>
									<%= link_to user_path(user), target: "_self" do %>
										<%= image_tag user.avatar_url, title: user.nickname, class: "d" %> <%= user.nickname %>
									<% end %>
								</td>
								<% user_playtimes = user.playtimes %>
								<% user_total_playtime = user_playtimes.maximum(:total_playtime) %>
								<td><%= user_playtimes.where(total_playtime: user_total_playtime)[0].today_playtime %></td>
								<td><%= user_total_playtime %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

			<!-- Followers table -->
			<!-- signed_in? <=> true -->
			<% if signed_in? %>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-9"><h3 class="h3-title">Following</h3></div>
						<div class="col-sm-3">
						</div>
					</div>

					<table data-toggle="table" data-sort-name="today_playtime" data-sort-order="desc" class="home-user-table">
						<thead>
							<tr>
								<th data-sortable="true">User</th>
								<th data-field="today_playtime" data-sortable="true">Today Playtime</th>
								<th data-field="total_playtime" data-sortable="true">Total Playtime</th>
							</tr>
						</thead>

						<tbody>
							<!-- FIXME - to find top 5 followers by today_playtime -->
							<!-- current_user <=> User.last -->
							<% followers = current_user.followers.first(5) %>
							<% followers.each do |follower| %>
								<% user = @users.find(follower.follower_id) %>
								<tr>
									<td>
										<%= link_to user_path(follower.follower_id), target: "_self" do %>
											<%= image_tag user.avatar_url, title: user.nickname, class: "d" %> <%= user.nickname %>
										<% end %>
									</td>
									<% user_playtimes = user.playtimes %>
									<% user_total_playtime = user_playtimes.maximum(:total_playtime) %>
									<td><%= user_playtimes.where(total_playtime: user_total_playtime)[0].today_playtime %></td>
									<td><%= user_total_playtime %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			<% end %>
		</div>
	</div>




	

