
<header >
	<div class="row">
		<div class="col-sm-4"> <h1 class="display-3">SmartGamer</h1></div>
       

			<!-- Searchbar -->
      <div id="custom-search-input">
        <div class="input-group col-md-6">
					
					<%= form_tag root_path, method: 'get' do %>
						<div class="input-group">
							<!-- FIXME - change message from "Please fill out this field." -->
							<%= text_field_tag :search, params[:search], placeholder: 'Search', required: true, class: 'form-control' %>
							<!-- FIXME - Change Go! to search icon -->
							<span class="input-group-btn"><%= submit_tag "Go!", name: nil, class: 'btn btn-default' %></span>
						</div>
					<% end %>


<!--           <input type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span> -->


        </div>
      </div>


    </div>
</header>

<div class="container-quote">
	<blockquote class="blockquote col-sm-offset-3 col-sm-6">
		<p><%= @quote["quoteText"] %></p>
		<% quote_author = @quote["quoteAuthor"] %>
		<footer class="blockquote-footer"><%= quote_author.empty? ? "unknown" : quote_author %></footer>
	</blockquote>
</div>

<div class="container" >
	<div class="row">
		<h3 class="h3-title">Articles</h3>
		<div class="col-sm-6">
			
			<% first_article = @articles.first %>
			<%= link_to article_path(first_article), target: "_self" do %>
				<% if first_article.image %>
					<%= image_tag first_article.image, class: "article-image-main" %>
				<% else %>
					<%#= image_tag '/assets/placeholder.jpg', class: "article-image-main" %>
					<div style='background-image: url(/assets/placeholder.jpg); background-size: contain;' class="text-center article-image-main"><%= first_article.title %></div>
				<% end %>
			<% end %>

			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second-long">
			
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second-long">
		
		</div>
		<div class="col-sm-2">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
		</div>
		<div class="col-sm-4">
			<h3 class="h3-title">Activity</h3>
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
		</div>
			
		
	</div>
	<div class="row">
		<div class="col-sm-2-1">
		<h3 class="h3-title">People</h3>
		</div>
		<div class="col-md-6">
			<img src='/assets/placeholder.jpg' alt="Main article image" class="article-image-main">
			
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second-long">
			
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second-long">
		
		</div>
		<div class="col-sm-2">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
		</div>
		<div class="col-sm-4">
		<h3 class="h3-title">People</h3>
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
		</div>
			<div class="col-sm-2">
			
		</div>
	</div>
	<div class="row">
		<h3 class="h3-title">Meetups</h3>
		<div class="col-md-6">
			<img src='/assets/placeholder.jpg' alt="Main article image" class="article-image-main">
			
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second-long">
			
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second-long">
		
		</div>
		<div class="col-sm-2">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="article-image-second">
		</div>
		<div class="col-sm-4">
			<h3 class="h3-title">Meet your friends</h3>
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
			<img src='/assets/placeholder.jpg' alt="secondary article image"  class="activity-pic">
		</div>
		<div class="col-sm-2">
			
		</div>
			
		
	</div>

	
</div>