<div class="form-group">
  <%= form.label :image, class: 'col-sm-2 control-label' %>
  <div class="col-sm-9">
	  <%= form.text_area :image, required: true, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= form.label :name, class: 'col-sm-2 control-label' %>
  <div class="col-sm-9">
	  <%= form.text_area :name, required: true, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= form.label :description, class: 'col-sm-2 control-label' %>
  <div class="col-sm-9">
	  <%= form.text_area :description, required: true, class: 'form-control' %>
  </div>
</div>